github "RiftValleySoftware/RVS_PersistentPrefs"
github "RiftValleySoftware/RVS_Generic_Swift_Toolbox"
github "RiftValleySoftware/RVS_IPAddress"
github "RiftValleySoftware/RVS_ParseXMLDuration"
binary "https://code.videolan.org/videolan/VLCKit/raw/master/Packaging/MobileVLCKit.json"
binary "https://code.videolan.org/videolan/VLCKit/raw/master/Packaging/VLCKit.json"
binary "https://code.videolan.org/videolan/VLCKit/raw/master/Packaging/TVVLCKit.json"
